#main-wrapper{
	width: 500px;
	margin: 0 auto;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid #2c3e50;
}

.avatar{
	width: 120px;
	text-align: center;
	border-radius: 50%;
}

.ldd_form{
	width: 450px;
	margin: 0 auto;
}

.inputvalues{
	width: 430px;
	margin: 5px auto;
	padding: 5px;
}

#login_btn{
	width: 443px;
	margin-top: 10px;
	padding: 5px;
	background-color: #2ecc71;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
#register_btn{
	width: 443px;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: #3498db;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
#signup_btn{
	width: 443px;
	margin-top: 5px;
	background-color: #3498db;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#back_btn{
	width: 443px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 5px;
	background-color: #e74c3c;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#logout_btn{
	width: 443px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 5px;
	background-color: #e74c3c;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

